{
    "branches": [
        "main",
        "CD-328-CD-3"
    ],
    "tagFormat": "${version}",
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits",
                "releaseRules": [
                    {
                        "type": "refactor",
                        "release": "patch"
                    },
                    {
                        "type": "build",
                        "release": "patch"
                    },
                    {
                        "type": "ci",
                        "release": "patch"
                    }
                ]
            }
        ],
        "@semantic-release/changelog",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "failComment": false
            }
        ]
    ]
}
